body {
    background-image: url("../images/craft-paper.jpg");
    background-color: antiquewhite;
    color: gray;
    font-family: arial;
}

a:link {
    text-decoration: none;
    color: grey
}

a:visited {
    text-emphasis: none;
    color: black;
}

a:hover {
    color: blue;
}

h1 {
    background-color: gray;
    float: left;
    color: white;
    padding: 20px;
    margin: 0 auto;
}

h3 {
    margin: 5px 0px;
}

p {
    line-height: 175%
}

header {
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    overflow: auto;
    background-color: white;
}

footer {
    margin-top: 30px;
    border-top: 1px solid grey;
    background-color: darkgrey;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

.image_display {
    width: 65%;
}

.image_holder {
    width: 33%;
    float: left;
    margin: 10px;
    position: relative;
}

.caption {
    position: absolute;
    z-index: 1;
    top: 85px;
    background-color: darkgray;
    padding: 10px;
    width: 150px;
    height: 35px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.border {
    border: 1px solid lightgrey;
}

.navigation {
    position: absolute;
    top: 20px;
    right: 10%;
}

.copyright {
    padding: 15px;
    width: 20%;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
}

input {
    width: 75%
}

.text {
    width: 98%
}

.textarea {
    height: 8em;
    width: 98%;
    margin-right: 20px;
}

.button {
    background: none;
    border: none;
    width: 100px;
    padding: 10px 10px;
    background-color: grey;
    margin: 10px 0px;
    color: white;
    font-size: 14px;
    display: inline-block;
}

.button:hover {
    background-color: black;
}

.no_padding {
    padding: 0px;
}

.no_margin {
    margin: 0px;
}

img {
    float: left;
    margin: 0px 10px 10px 0px;
}